canvas {
  background: black;
  display: flex;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  background: black;
}

.fa-linkedin {
  font-size: 60px;
  color: white;
  padding: 10px;
}

.fa-github {
  font-size: 60px;
  color: white;
  padding: 10px;
}
